.funny-glasses{
    position:relative;
    left: 214px;
    bottom: 107px;

}
.bandana{
    position: absolute;
    top: 180px;
    left: 108px;
}
.pawprint{
    position: fixed;
    top: 43px;
    left: 66px;
}
.luna{
    position:absolute;
    
}

.top-hat{
    z-index: 1;
}